<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>A</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Accounting</string>
                    <key>enum</key>
                    <string>c6</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Administrative</string>
                    <key>enum</key>
                    <string>a7</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Agriculture</string>
                    <key>enum</key>
                    <string>a4</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Architecture - design</string>
                    <key>enum</key>
                    <string>a8</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Arts - culture</string>
                    <key>enum</key>
                    <string>a9</string>
                </dict>
            </array>
        </dict>
         <dict>
        <key>B</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Banking</string>
                    <key>enum</key>
                    <string>b1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Biology</string>
                    <key>enum</key>
                    <string>b2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Biotech</string>
                    <key>enum</key>
                    <string>b3</string>
                </dict>
            </array>
              </dict>
              <dict>
            <key>C</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Call center</string>
                    <key>enum</key>
                    <string>c1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Chemistry</string>
                    <key>enum</key>
                    <string>c2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Clothing industry</string>
                    <key>enum</key>
                    <string>a1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Construction</string>
                    <key>enum</key>
                    <string>e1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Consulting</string>
                    <key>enum</key>
                    <string>c5</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Customer service</string>
                    <key>enum</key>
                    <string>s7</string>
                </dict>
            </array>
        </dict>
         <dict>
        <key>D</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Distribution</string>
                    <key>enum</key>
                    <string>d1</string>
                </dict>
            </array>
        </dict>
    <dict>
            <key>E</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Editorial - press</string>
                    <key>enum</key>
                    <string>e2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Education</string>
                    <key>enum</key>
                    <string>f2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Electronics industry</string>
                    <key>enum</key>
                    <string>e3</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Energy - ecology services</string>
                    <key>enum</key>
                    <string>e4</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Engineering</string>
                    <key>enum</key>
                    <string>i5</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Entertainment industry</string>
                    <key>enum</key>
                    <string>g1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Executive</string>
                    <key>enum</key>
                    <string>s2</string>
                </dict>
            </array>
        </dict>
         <dict>
        <key>F</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Fashion - style</string>
                    <key>enum</key>
                    <string>m6</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Film industry</string>
                    <key>enum</key>
                    <string>c3</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Fishing</string>
                    <key>enum</key>
                    <string>p1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Food services</string>
                    <key>enum</key>
                    <string>a6</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Free profession</string>
                    <key>enum</key>
                    <string>l4</string>
                </dict>
            </array>
            </dict>
         <dict>
            <key>G</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>General services</string>
                    <key>enum</key>
                    <string>s3</string>
                </dict>
            </array>
              </dict>
         <dict>
            <key>H</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Handicraft</string>
                    <key>enum</key>
                    <string>a10</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Hotel - hospitality</string>
                    <key>enum</key>
                    <string>a5</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Houseworks</string>
                    <key>enum</key>
                    <string>l1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Human Resources</string>
                    <key>enum</key>
                    <string>r3</string>
                </dict>
            </array>
            </dict>
         <dict>
            <key>I</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Import - export</string>
                    <key>enum</key>
                    <string>i2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Industrial mechanic</string>
                    <key>enum</key>
                    <string>m4</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Industry - manifacturing</string>
                    <key>enum</key>
                    <string>i3</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Information Technology</string>
                    <key>enum</key>
                    <string>i4</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Internet</string>
                    <key>enum</key>
                    <string>i6</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Insurance services</string>
                    <key>enum</key>
                    <string>a11</string>
                </dict>
            </array>
            </dict>
            <dict>
            <key>L</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Law and finance</string>
                    <key>enum</key>
                    <string>l3</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Legal business</string>
                    <key>enum</key>
                    <string>a3</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Logistics</string>
                    <key>enum</key>
                    <string>l6</string>
                </dict>
            </array>
            </dict>
              <dict>
            <key>M</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Maintenance - repair</string>
                    <key>enum</key>
                    <string>r2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Management</string>
                    <key>enum</key>
                    <string>m1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Manufactoring</string>
                    <key>enum</key>
                    <string>p2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Marketing</string>
                    <key>enum</key>
                    <string>m3</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Medicine</string>
                    <key>enum</key>
                    <string>m5</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Music</string>
                    <key>enum</key>
                    <string>m7</string>
                </dict>
            </array>
            </dict>
              <dict>
            <key>P</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Personal care</string>
                    <key>enum</key>
                    <string>c7</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Pharmaceutical</string>
                    <key>enum</key>
                    <string>f1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Pubs - restaurants</string>
                    <key>enum</key>
                    <string>l5</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Public administration</string>
                    <key>enum</key>
                    <string>p3</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Public sector</string>
                    <key>enum</key>
                    <string>l2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Public services</string>
                    <key>enum</key>
                    <string>s4</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Purchasing</string>
                    <key>enum</key>
                    <string>a2</string>
                </dict>
            </array>
            </dict>
              <dict>
            <key>R</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Real estate industry</string>
                    <key>enum</key>
                    <string>i1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Research - development</string>
                    <key>enum</key>
                    <string>r1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Restaurant industry</string>
                    <key>enum</key>
                    <string>r4</string>
                </dict>
            </array>
            </dict>
              <dict>
            <key>S</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Sales</string>
                    <key>enum</key>
                    <string>v1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Science</string>
                    <key>enum</key>
                    <string>s1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Security</string>
                    <key>enum</key>
                    <string>s5</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Sport - free time</string>
                    <key>enum</key>
                    <string>s6</string>
                </dict>
            </array>
            </dict>
              <dict>
            <key>T</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Telecommunications - ICT</string>
                    <key>enum</key>
                    <string>t1</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Tourism industry</string>
                    <key>enum</key>
                    <string>t2</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>Trading</string>
                    <key>enum</key>
                    <string>c4</string>
                </dict>
            </array>
            </dict>
              <dict>
            <key>U</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Unskilled labor</string>
                    <key>enum</key>
                    <string>m2</string>
                </dict>
            </array>
            </dict>
              <dict>
            <key>Other</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>Other</string>
                    <key>enum</key>
                    <string>spec1</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
