<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sectors</string>
	</dict>
	<dict>
		<key>A</key>
		<array>
			<dict>
				<key>label</key>
				<string>Accounting</string>
				<key>code</key>
				<string>c6</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Agriculture</string>
				<key>code</key>
				<string>a4</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Administrative</string>
				<key>code</key>
				<string>a7</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Architecture - design</string>
				<key>code</key>
				<string>a8</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Arts - culture</string>
				<key>code</key>
				<string>a9</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>B</key>
		<array>
			<dict>
				<key>label</key>
				<string>Banking</string>
				<key>code</key>
				<string>b1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Biology</string>
				<key>code</key>
				<string>b2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Biotech</string>
				<key>code</key>
				<string>b3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>C</key>
		<array>
			<dict>
				<key>label</key>
				<string>Call center</string>
				<key>code</key>
				<string>c1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Chemistry</string>
				<key>code</key>
				<string>c2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Clothing industry</string>
				<key>code</key>
				<string>a1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Construction</string>
				<key>code</key>
				<string>e1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Consulting</string>
				<key>code</key>
				<string>c5</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Customer service</string>
				<key>code</key>
				<string>s7</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>D</key>
		<array>
			<dict>
				<key>label</key>
				<string>Distribution</string>
				<key>code</key>
				<string>d1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>E</key>
		<array>
			<dict>
				<key>label</key>
				<string>Editorial - press</string>
				<key>code</key>
				<string>e2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Education</string>
				<key>code</key>
				<string>f2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Electronics industry</string>
				<key>code</key>
				<string>e3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Energy - ecology services</string>
				<key>code</key>
				<string>e4</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Engineering</string>
				<key>code</key>
				<string>i5</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Entertainment industry</string>
				<key>code</key>
				<string>g1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Executive</string>
				<key>code</key>
				<string>s2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>F</key>
		<array>
			<dict>
				<key>label</key>
				<string>Fashion - style</string>
				<key>code</key>
				<string>m6</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Film industry</string>
				<key>code</key>
				<string>c3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Fishing</string>
				<key>code</key>
				<string>p1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Food services</string>
				<key>code</key>
				<string>a6</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
            <dict>
				<key>label</key>
				<string>Free profession</string>
				<key>code</key>
				<string>l4</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>G</key>
		<array>
			<dict>
				<key>label</key>
				<string>General services</string>
				<key>code</key>
				<string>s3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>H</key>
		<array>
			<dict>
				<key>label</key>
				<string>Handicraft</string>
				<key>code</key>
				<string>a10</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Hotel - hospitality</string>
				<key>code</key>
				<string>a5</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Houseworks</string>
				<key>code</key>
				<string>l1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Human Resources</string>
				<key>code</key>
				<string>r3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>I</key>
		<array>
			<dict>
				<key>label</key>
				<string>Import - export</string>
				<key>code</key>
				<string>i2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Industrial mechanic</string>
				<key>code</key>
				<string>m4</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Industry - manifacturing</string>
				<key>code</key>
				<string>i3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Information Technology</string>
				<key>code</key>
				<string>i4</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Internet</string>
				<key>code</key>
				<string>i6</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Insurance services</string>
				<key>code</key>
				<string>a11</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>L</key>
		<array>
			<dict>
				<key>label</key>
				<string>Law and finance</string>
				<key>code</key>
				<string>l3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Legal business</string>
				<key>code</key>
				<string>a3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Logistics</string>
				<key>code</key>
				<string>l6</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>M</key>
		<array>
			<dict>
				<key>label</key>
				<string>Maintenance - repair</string>
				<key>code</key>
				<string>r2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Management</string>
				<key>code</key>
				<string>m1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Manufactoring</string>
				<key>code</key>
				<string>p2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Marketing</string>
				<key>code</key>
				<string>m3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Medicine</string>
				<key>code</key>
				<string>m5</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Music</string>
				<key>code</key>
				<string>m7</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>P</key>
		<array>
			<dict>
				<key>label</key>
				<string>Personal care</string>
				<key>code</key>
				<string>c7</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Pharmaceutical</string>
				<key>code</key>
				<string>f1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Pubs - restaurants</string>
				<key>code</key>
				<string>l5</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Public administration</string>
				<key>code</key>
				<string>p3</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Public sector</string>
				<key>code</key>
				<string>l2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Public services</string>
				<key>code</key>
				<string>s4</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Purchasing</string>
				<key>code</key>
				<string>a2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>R</key>
		<array>
			<dict>
				<key>label</key>
				<string>Real estate industry</string>
				<key>code</key>
				<string>i1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Research - development</string>
				<key>code</key>
				<string>r1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Restaurant industry</string>
				<key>code</key>
				<string>r4</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>S</key>
		<array>
			<dict>
				<key>label</key>
				<string>Sales</string>
				<key>code</key>
				<string>v1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Science</string>
				<key>code</key>
				<string>s1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Security</string>
				<key>code</key>
				<string>s5</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Sport - free time</string>
				<key>code</key>
				<string>s6</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>T</key>
		<array>
			<dict>
				<key>label</key>
				<string>Telecommunications - ICT</string>
				<key>code</key>
				<string>t1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Tourism industry</string>
				<key>code</key>
				<string>t2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Trading</string>
				<key>code</key>
				<string>c4</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>U</key>
		<array>
			<dict>
				<key>label</key>
				<string>Unskilled labor</string>
				<key>code</key>
				<string>m2</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>Other</key>
		<array>
			<dict>
				<key>label</key>
				<string>Other</string>
				<key>code</key>
				<string>spec1</string>
				<key>kind</key>
				<string>InfoCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
